#wu-modal {
    position: fixed;
    top: 40%;
    left: calc(50% - 160px);
    width: 320px;
    max-width: 320px;
    min-width: 320px;
    height: auto;
    padding: 4px;
    border: 1px solid #000;
    color: #000;
    background-color: #FFF;
    text-align: center;
}

.wu-modal-show {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.wu-modal-hidden {
  z-index: -99999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 1s linear;
}