<!DOCTYPE html>
<html>
<head>
<title>wu-daily-training-sheet</title>
<meta charset="UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script type="text/javascript" src="js/PrototypeJsCore.js"></script>
<script type="text/javascript" src="js/gdocs/GConf.js"></script>
<script type="text/javascript" src="js/gdocs/SheetConf.js"></script>
<script type="text/javascript" src="js/gdocs/SheetUtils.js"></script>
<script type="text/javascript" src="js/gdocs/Sheet.js"></script>
<script type="text/javascript" src="js/gdocs/GCalSheet.js"></script>
<script type="text/javascript" src="js/gdocs/GApiSheetProvider.js"></script>

<script type="text/javascript" src="js/vue/App.js"></script>

<link rel="stylesheet" type="text/css" href="css/index.css" />

</head>
<body>
	<p>wu-daily-training-sheet - <a href="https://github.com/wlod/wu-daily-training-sheet/" target="_blank">current version - github</a>.</p>
    <p>data - <a href="https://docs.google.com/spreadsheets/d/1W2lIqTBXORVBdAM1AaGQIY4KzDRYCqTDN8NUYEm4jt8/edit#gid=1777293991" target="_blank">google docs</a>.</p> 
   
	<pre id="content"></pre>
   
   <div id="app">
     
      
     <h2>Days</h2>     
     <div v-for="(item, key) in sheetsData">

      <h3>Day {{ key }}. - {{ item.day }}</h3>
      
      
      <div class="item-list">
         <div class="item" v-for="sheetData in item.activities" v-if="sheetData.startTime !== null">
            <div class="item-title">
               <i class="material-icons md-36 item-title-icon">{{ sheetData.itemTitleIcon }}</i>
               <span class="item-title-text">{{ sheetData.startTime }}</span>
            </div>
   
            <div class="item-content item-content-left">
               <p v-for="(value, key) in sheetData.viewData">
                  <span>{{ key }}:</span><span>{{ value }}</span>
               </p>
               
            </div>
   
         </div>
      </div>
     
   </div>
   
   </div>

	<script type="text/javascript">
        function startApp() {
           new App();
        }
    </script>

	<script async defer src="https://apis.google.com/js/api.js"
		onload="this.onload=function(){};startApp()"
		onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>
</html>
