<!DOCTYPE html>
<html>
<head>
<title>wu-daily-training-sheet</title>
<meta charset="UTF-8" />

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script type="text/javascript" src="js/PrototypeJsCore.js"></script>
<script type="text/javascript" src="js/gdocs/GConf.js"></script>
<script type="text/javascript" src="js/gdocs/SheetConf.js"></script>
<script type="text/javascript" src="js/gdocs/SheetUtils.js"></script>
<script type="text/javascript" src="js/gdocs/Sheet.js"></script>
<script type="text/javascript" src="js/gdocs/GCalSheet.js"></script>
<script type="text/javascript" src="js/gdocs/GApiSheetProvider.js"></script>

<script type="text/javascript" src="js/vue/App.js"></script>

<link rel="stylesheet" type="text/css" href="css/index.css" />

</head>
<body>
	<p>wu-daily-training-sheet - <a href="https://github.com/wlod/wu-daily-training-sheet/" target="_blank">current version - github</a>.</p>

	<pre id="content"></pre>
   
   <div id="app">
     <h2>Training</h2>
     <h3>Row - headers</h3>
     <ol>
       <li v-for="header in trainingHeaders">
         {{ header }}
       </li>
     </ol>
     <h2>Diet</h2>
     <h3>Row - headers</h3>
     <ol>
       <li v-for="header in dietHeaders">
         {{ header }}
       </li>
     </ol>
     <h2>Weight</h2>
     <h3>Row - headers</h3>
     <ol>
       <li v-for="header in weightHeaders">
         {{ header }}
       </li>
     </ol>
      
     <h2>Days</h2>     
     <div v-for="(item, key) in sheetsData">

      <h3>Day {{ key }}. - {{ item.day }}</h2>
      
      <div class="rTable">
         <div class="rTableRow">
            <div class="rTableCell" v-for="sheetData in item.activities" v-if="sheetData.startTime !== null">
               <strong>{{ sheetData.startTime }}</strong> - {{ sheetData.name }}<br /><br />
               {{ sheetData.rawDataAsArray }}
            </div>
         </div>
      </div>
     
   </div>

	<script type="text/javascript">
        function startApp() {
           new App();
        }
    </script>

	<script async defer src="https://apis.google.com/js/api.js"
		onload="this.onload=function(){};startApp()"
		onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>
</html>
