<!DOCTYPE html>
<html>
<head>
    <title>wu-daily-training-spreadsheet</title>
    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
    <meta charset="UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   
    <script src="js/vendors/views.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script type="text/javascript" src="js/PrototypeJsCore.js"></script>
    <script type="text/javascript" src="js/WebUtil.js"></script>
    
    <script type="text/javascript" src="js/gdocs/GApiConf.js"></script>
    <script type="text/javascript" src="js/gdocs/SpreadsheetConf.js"></script>
    <script type="text/javascript" src="js/gdocs/SpreadsheetUtils.js"></script>
    <script type="text/javascript" src="js/gdocs/Spreadsheet.js"></script>
    <script type="text/javascript" src="js/gdocs/GCalSpreadsheet.js"></script>
    <script type="text/javascript" src="js/gdocs/GApiSpreadsheetProvider.js"></script>

    <script type="text/javascript" src="js/vue/App.js"></script>

    <link rel="stylesheet" type="text/css" href="css/index.css"/>

</head>
<body>
<p>wu-daily-training-spreadsheet - <a href="https://github.com/wlod/wu-daily-training-spreadsheet/" target="_blank">current version - github</a>.</p>
<p>data - <a href="https://docs.google.com/spreadsheets/d/1W2lIqTBXORVBdAM1AaGQIY4KzDRYCqTDN8NUYEm4jt8/edit#gid=1777293991" target="_blank">google docs</a>.</p>

<pre id="content"></pre>

<div id="app">

    <div v-if="spreadsheetsData === null">
        <img src="assets/loading.gif"/>
    </div>

    <div v-if="spreadsheetsData !== null">
        <h2>Days</h2>

        <div style="margin-bottom: 25px;">
            Shows on all days:
            <label><input type="checkbox" @click="filterBySpreadsheetName( 'trening' )" v-model="visibleSpreadsheets['trening']">'Trening' spreadsheet</label>
            <label><input type="checkbox" @click="filterBySpreadsheetName( 'dieta' )" v-model="visibleSpreadsheets['dieta']">'Dieta' spreadsheet</label>
            <label><input type="checkbox" @click="filterBySpreadsheetName( 'waga' )" v-model="visibleSpreadsheets['waga']">'Waga' spreadsheet</label>
        </div>

        <div v-for="(item, key) in spreadsheetsData" class="day-container">

            <div class="day-summary">
               <div class="day-summary-title">
                  <i class="material-icons md-24 item-title-icon">insert_invitation</i><span class="day-summary-date">{{ item.day }}</span>
               </div>
               
               <ul class="day-summary-content">
                  <li><i class="material-icons md-14 item-title-icon">restaurant_menu</i><span class="day-summary-content-label">Meals: {{ item.daySummary.meals }}</span></li>
                  <li><i class="material-icons md-14 item-title-icon">directions_run</i><span class="day-summary-content-label">Training: {{ item.daySummary.training }}</span></li>
                  <li><i class="material-icons md-14 item-title-icon">accessibility</i><span class="day-summary-content-label">Min weight: {{ item.daySummary.minWeight }}</span></li>
                  <li><i class="material-icons md-14 item-title-icon">accessibility</i><span class="day-summary-content-label">Max weight: {{ item.daySummary.maxWeight }}</span></li>
               </ul>
               
            </div>
            
            <div class="item-list-container">
               <div class="item-list-filter">
                    Show:
                    <label><input type="checkbox" @click="filterByDayAndSpreadsheetName( item.day, 'trening' )" v-model="visibleSpreadsheetsPerDay['trening'][item.day]">'Trening' spreadsheet</label>
                    <label><input type="checkbox" @click="filterByDayAndSpreadsheetName( item.day, 'dieta' )" v-model="visibleSpreadsheetsPerDay['dieta'][item.day]">'Dieta' spreadsheet</label>
                    <label><input type="checkbox" @click="filterByDayAndSpreadsheetName( item.day, 'waga' )" v-model="visibleSpreadsheetsPerDay['waga'][item.day]">'Waga' spreadsheet</label>
                </div>
               
               <ul class="item-list">
   
                   <li class="item" v-for="spreadsheetData in item.activities" v-if="spreadsheetData.startTime !== null && spreadsheetData.isVisible === true">
                       <div class="item-title">
                           <i class="material-icons md-36 item-title-icon">{{ spreadsheetData.itemTitleIcon }}</i>
                           <span class="item-title-text">{{ spreadsheetData.startTime }}</span>
                       </div>
   
                       <div class="item-content item-content-left">
                           <p v-for="(values, key) in spreadsheetData.viewData" v-if="key === 'pictures'">
                               <span v-for="(value, key) in values">
                                    <a v-bind:href="value" class="image-trigger"><img src="assets/loading.gif" v-bind:data-src="value" class="lazyload item-image"/></a>&nbsp;
                               </span>
                           </p>
                           <p v-for="(value, key) in spreadsheetData.viewData" v-if="key !== 'pictures'">
                               <span>{{ key }}:</span>&nbsp;<span>{{ value }}</span>
                           </p>
                       </div>
   
                   </li>
               </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        function startApp() {
           new App();
        }
</script>

<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};startApp()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>

</body>
</html>
